@model SaveToDateApp.Entities.FridgeProductEntity
@{
    ViewData["Title"] = "Delete product";
}

<div class="col-md-12 text-center">
    <div class="text-danger">
        <p>Delete for @Model.Name</p>
    </div>

    <a class="btn btn-outline-danger" asp-action="DeleteNow" asp-controller="FridgeProducts" asp-route-id="@Model.Id">Delete</a>

    <a class="btn btn-outline-secondary" asp-action="Index">Back</a>

</div>